body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10vh;
}
h1 {
  color: #eaf4f4;
}
.input {
  font-family: "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-weight: 500;
  color: #fff;
  background-color: #415a77;
  box-shadow: 0 0 0.4vw rgba(0, 0, 0, 0.5), 0 0 0 0.15vw transparent;
  border-radius: 4px;
  border: none;
  outline: none;
  margin-right: 5px;
  padding: 0.8em 2em;
  width: 10em;
  transition: 0.4s;
}

.input:hover {
  box-shadow: 0 0 0 0.15vw rgba(135, 207, 235, 0.186);
}

.input:focus {
  box-shadow: 0 0 0 0.15vw skyblue;
}
.input-div {
  display: flex;
  gap: 0.1rem;
  flex-wrap: wrap;
  justify-content: center;
}
.button {
  font-family: "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-weight: 500;
  --bg: #003566;
  --hover-bg: red;
  --hover-text: #003566;
  color: #fff;
  margin-right: 5px;
  border: 1px solid var(--bg);
  border-radius: 4px;
  padding: 0.8em 0em;
  width: 10em;
  background: var(--bg);
  transition: 0.2s;
  cursor: pointer;
}

.button:hover {
  background: var(--hover-bg);
  box-shadow: 0.25rem 0.25rem var(--bg);
}

.button:active {
  transform: translate(0);
  box-shadow: none;
}

.Container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  background-color: #0d1b2a;
  padding: 30px;
  border-radius: 3px;
  gap: 1rem;
}

.display {
  display: flex;
  flex-direction: row;
  background-color: #e0e1dd;
  width: fit-content;
  padding: 0rem 1rem;
  gap: 15px;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  border-radius: 3px;
}
.yestask {
  height: 4rem;
}
.input::placeholder {
  color: #8d99ae;
}
#text1,
#text2 {
  font-size: 20px;
  font-weight: bold;
  color: black;
  cursor: pointer;
}
#text2 {
  height: 1rem;
}
.input2 {
  border: none;
  background-color: #0d1b2a;
  border-radius: 3px;
  color: #fff;
  padding: 0.5em 1em;
  padding-right: 2em;
}
.strike {
  text-decoration: line-through;
}
.btn {
  border: none;
  padding: 0.5em 1em;
  padding-right: 2em;
  border-radius: 0.5em;
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: right;
  background-size: 24px;
  transition: all 0.3s ease-in-out;
}

.btn2 {
  background-color: red;
  background-image: url("icons/delete.png");
}
.btn1 {
  background-color: rgb(0, 128, 255);
  background-image: url("icons/pencil.png");
  background-size: 20px;
  background-position: right center;
}

.btn:hover {
  box-shadow: 2px 2px 2px rgb(88, 88, 88);
}

.btn:focus {
  box-shadow: 2px 2px 2px rgb(35, 35, 35);
}

.btot {
  color: #000;
  border: none;
  background-color: transparent;
  height: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media all and (max-width: 550px) {
  input[type="text"] {
    width: 100%;
  }
  .display {
    width: 13em;
  }
  .button {
    width: 6em;
  }
  input[type="text"]::placeholder {
    content: "Task Name";
  }
}
@media all and (max-width: 425px) {
}
@media all and (max-width: 320px) {
  * {
    padding: 0px 50px;
  }
}
